In [1]:
import requests
from bs4 import BeautifulSoup
from boxscraper import get_season_soup, get_all_hrefs, get_game_soup, get_linescore, get_linescore_df, get_scorebox 
import pandas as pd
import re

In [2]:
soup_2019 = get_season_soup(2019)

In [12]:
game_links_2019 = get_all_hrefs(soup_2019)
game_links_2019[:10]

['/boxes/OAK/OAK201903200.shtml',
 '/boxes/OAK/OAK201903210.shtml',
 '/boxes/CIN/CIN201903280.shtml',
 '/boxes/KCA/KCA201903280.shtml',
 '/boxes/LAN/LAN201903280.shtml',
 '/boxes/MIA/MIA201903280.shtml',
 '/boxes/MIL/MIL201903280.shtml',
 '/boxes/MIN/MIN201903280.shtml',
 '/boxes/NYA/NYA201903280.shtml',
 '/boxes/OAK/OAK201903280.shtml']

In [13]:
game_link = game_links_2019[0]

In [14]:
game_soup = get_game_soup(game_link)

In [19]:
linescore = get_linescore(game_soup)

In [20]:
df = get_linescore_df(linescore)
df

                Team  1  2  3  4  5  6  7  8  9  R  H  E
0   Seattle Mariners  0  0  5  1  3  0  0  0  0  9  7  1
1  Oakland Athletics  1  1  2  0  0  0  3  0  0  7  9  0

In [20]:
scorebox = game_soup.find('div', { 'class': 'scorebox_meta' })
scorebox

<div class="scorebox_meta">
<div>Wednesday, March 20, 2019</div><div>Start Time: 5:35 p.m. ET</div><div><strong>Attendance</strong>: 45,787</div><div><strong>Venue</strong>: Tokyo Dome</div><div><strong>Game Duration</strong>: 3:24</div><div>Night Game, on turf</div><div><a href="https://www.mlb.com/gameday/566083#game_tab=videos" target="_blank">Video of game on MLB.com</a></div>
<div><em>Logos <a href="http://www.sportslogos.net/">via Sports Logos.net</a>
            / <a href="//www.sports-reference.com/blog/2016/06/redesign-team-and-league-logos-courtesy-sportslogos-net/">About logos</a></em></div>
</div>

In [21]:
divs = scorebox.find_all('div')